---
// import ReactDom from "./React";

interface Props {
    txt: string;
}
import Title from "./Title.astro";
const { txt } = Astro.props;
---

<div>
    <!-- <ReactDom /> -->
    <Title title={txt} />
</div>
