---
// import ReactDom from "./React";

interface Props {
    txt: string;
}
import Title from "./Title.astro";
const { txt } = Astro.props;

const htmlString = "<p>Raw HTML content</p>";
---

<!-- <ReactDom /> -->
<Fragment set:html={htmlString} />
<Title title={txt} />
