---
import Card from "./Card.astro";

let a = [1, 2, 3, 4, 5, 6];
setTimeout(() => {
    a = [1, 2, 3];
}, 3000);
---

<div>
    {a.map((i) => <Card txt={`${i}`} />)}
    <slot  name="ccc">
        回退内容
    </slot>
</div>
