---
/**
 * 项目标题带描述
 */

type Props = {
    title: string;
    desc?: string;
    titleColor?: string;
    isPrimary?: boolean;
};

const { title, desc, titleColor, isPrimary } = Astro.props;
---

{
    title && (
        <div class="text-center m-5">
            <div>
                <div font-bold class={"text-9.5 " + "c-" + (titleColor ?? "tolerant")}>
                    {title}
                </div>
                {desc && (
                    <div text-5 mt-4 font-500 class={isPrimary ? "c-primary opacity-50" : "c-describe"}>
                        {desc}
                    </div>
                )}
            </div>
        </div>
    )
}
